In [44]:
import pandas as pd

In [45]:
df1 = pd.read_csv('World-Happiness-Analysis-2015-2021.csv')

In [46]:
df2 = pd.read_csv('World Happiness Report 2022.csv')

In [47]:
df1.shape, df2.shape

((1084, 12), (146, 12))

In [48]:
df1.head(2)

,Unnamed: 0,Happiness Rank,Region,Freedom,Happiness Score,Country,Generosity,Family,Trust (Government Corruption),Health (Life Expectancy),Economy (GDP per Capita),Year
0,0,1,Western Europe,0.66557,7.587,Switzerland,0.29678,1.34951,0.41978,0.94143,1.39651,2015
1,1,2,Western Europe,0.62877,7.561,Iceland,0.43630,1.40223,0.14145,0.94784,1.30232,2015

In [49]:
df2.head(2)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532

In [50]:
df1.columns

Index(['Unnamed: 0', 'Happiness Rank', 'Region', 'Freedom', 'Happiness Score',
       'Country', 'Generosity', 'Family', 'Trust (Government Corruption)',
       'Health (Life Expectancy)', 'Economy (GDP per Capita)', 'Year'],
      dtype='object')

In [51]:
df1.drop(['Unnamed: 0'], axis=1, inplace = True)

In [52]:
df1.head(1)

,Happiness Rank,Region,Freedom,Happiness Score,Country,Generosity,Family,Trust (Government Corruption),Health (Life Expectancy),Economy (GDP per Capita),Year
0,1,Western Europe,0.66557,7.587,Switzerland,0.29678,1.34951,0.41978,0.94143,1.39651,2015

In [60]:
df2015 = pd.read_csv('Data/World Happiness Report 2015-2021/2015.csv')

In [61]:
df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [62]:
df2 = df2.merge(df2015[["Country","Region"]], on="Country", how="left")
df2["Region"] = df2["Region"].fillna('-')

In [63]:
df2.shape

(146, 13)

In [64]:
df2.head(1)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Region
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534,Western Europe

In [65]:
df2['Region'].value_counts()

-                                  27
Central and Eastern Europe         24
Sub-Saharan Africa                 22
Western Europe                     19
Latin America and Caribbean        18
Middle East and Northern Africa    13
Southeastern Asia                   9
Southern Asia                       6
Eastern Asia                        4
Australia and New Zealand           2
North America                       2
Name: Region, dtype: int64

In [66]:
df2 = df2.rename(columns={'Explained by: GDP per capita':'Economy (GDP per Capita)', 'Explained by: Social support': 'Family','Explained by: Healthy life expectancy':'Health (Life Expectancy)','Explained by: Freedom to make life choices':'Freedom','Explained by: Generosity':'Generosity', 'Explained by: Perceptions of corruption':'Trust (Government Corruption)'})

In [67]:
df2.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Region'],
      dtype='object')

In [68]:
df2 = df2.rename(columns={'RANK':'Happiness Rank'})

In [69]:
df2['Year'] = '2022'

In [70]:
df2.drop(['Whisker-high', 'Whisker-low','Dystopia (1.83) + residual'], axis=1, inplace = True)

In [71]:
df2.columns

Index(['Happiness Rank', 'Country', 'Happiness score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Generosity', 'Trust (Government Corruption)', 'Region',
       'Year'],
      dtype='object')

In [72]:
df1.columns

Index(['Happiness Rank', 'Region', 'Freedom', 'Happiness Score', 'Country',
       'Generosity', 'Family', 'Trust (Government Corruption)',
       'Health (Life Expectancy)', 'Economy (GDP per Capita)', 'Year'],
      dtype='object')

In [73]:
df2 = df2.rename(columns={'Happiness score':'Happiness Score'})

In [74]:
df1.shape, df2.shape

((1084, 11), (146, 11))

In [75]:
df_final = df1.append(df2)

In [76]:
df_final.shape

(1230, 11)

In [77]:
df = df_final.to_csv('World-Happiness-Report-2015-2022.csv')